body{
    font-family:'Overpass';
}
li{
    list-style: none;
}
ol{
    padding: 0;
}
li{
    color: white;
}
body{
    margin: 0;
}
.heroSec{
    height: 400px;
    background-color: hsl(13, 100%, 72%);
    border-bottom-left-radius: 200px;
}
.heroSec header{
    width: 80%;
    display: flex;
    padding: 30px 0;
    margin: 0 auto;
    gap: 10%;
    height: 30px;
    align-items: center;
}
.heroSec header nav{
    display: flex;
    width: 80%;
    justify-content: space-between
}
.heroSec header nav .left .list{
    display: grid;
    position: relative;
    align-items: center;
    justify-items: center;
    transition: all 300ms;
    grid-template-columns: 70px 10px;
}

.heroSec header nav .left .list:hover img{
    transform: rotate(180deg);
}
.heroSec header nav .left .list:hover .content{
    display: flex;
    gap: 10px;
}
.heroSec header nav .left .list .content{
    position: absolute;
    bottom: -150px;
    box-shadow: 0px 1px 1000px;
    background-color: white;
    width: 100px;
    left: 0;
    display: none;
    flex-direction: column;
    justify-items: flex-start;
    padding: 30px 10px;
    border-radius: 5px;
}
.heroSec header nav .left .list .content li{
    color: hsl(207, 13%, 34%);
    font-size: 20px;
}
.heroSec header nav .left .list .content li:hover{
    font-weight: 900;
    cursor: pointer;
}
.heroSec header nav .left .list span{
    color: white;
    cursor: pointer;
    transition: all 300ms;
}
.heroSec header nav .left{
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
}

.heroSec header nav .right{
    width: 210px;
    display: flex;
    gap: 20px;
}
.heroSec .hero{
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-size: 2500px;
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    background-position: center left;
}
.heroSec .hero .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0 30px 0;
}
.heroSec .hero p{
    width: 70%;
    color: white;
    text-align: center;
    margin: 0 auto;
}
.heroSec .hero .btnHold{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.btn{
    border-radius: 30px;
    width: 100px;
    padding: 15px 20px;
    outline: none;
    color: white;
    text-decoration: none;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
    transition: all 300ms;
}
.hover{
    background-color: white;
    color: hsl(13, 100%, 72%);
}
.hover:hover{
    background-color: rgba( 100%, 100%, 100%, .5);
    color: white;
}
.border{
    border: 1px solid white;
}
.border:hover{
    background-color: white;
    color: hsl(13, 100%, 72%);
}
.large{
    font-size: 40px;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 900;
}
.small{
    color: white;
    text-align: center;
    opacity: 0.7;
    margin: 0;
    font-size: 16px;
}
.designFor{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.designFor h1{
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color: hsl(208, 49%, 24%);
    margin: 250px 0 150px;
}
.designFor .gridView{
    display: flex;
    align-items: center;
    width: 80%;
    height: 600px;
    position: relative;
    margin: 0 auto;
}
.designFor .gridView article{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.designFor .gridView article h2{
    font-size: 25px;
    font-weight: 900;
    color: hsl(208, 49%, 24%);
}
.designFor .gridView article p{
    color: hsl(207, 13%, 34%);
    font-size: 16px;
}
.designFor .gridView img{
    position: absolute;
    top: 50%;
    right: -420px;
    transform: translate( 0,-50%);
}
.stateOf{
    background-image: url('../images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: hsl(240, 10%, 16%);
    color: white;
    height: 430px;
    margin-top: 100px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
}
.stateOf article{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: flex-end;

}
.stateOf article .content{
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stateOf article .content h2{
    font-size: 35px;
}
.stateOf article img{
    position: absolute;
    top: -12.5%;
    left: -5%;
}
.gridView.left img{
    left: -500px;
}
.gridView.left {
    margin: 200px auto;
    justify-content: flex-end;
}
footer{
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 200px;
    padding: 20px 0;
}
footer .ImgAndThings{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin:  0 auto;
    align-items: flex-start;
}
footer .ImgAndThings nav{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
footer .ImgAndThings nav h3{
    margin: 0 0 20px;
    color: white;
}
footer .ImgAndThings nav ol li{
    color: white;
    opacity: .8;
    transition: all 300ms;
    text-decoration: none;
    cursor: pointer;
}
footer .ImgAndThings nav ol li:hover{
    text-decoration: underline;
}
.hamburger{
    display: none;
}
.noView{
    display: block;
}
@media (max-width: 800px) {      
.black{
    color: hsl(208, 49%, 24%);
}
    .rover{
        background-color: hsl(13, 100%, 72%);
    }
    .noView{
        display: none;
    }
    .stateOf article .content{
        width: 450px;
        height: 550px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: flex-end;
    }
    .stateOf article .content p{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        opacity: .75;
        font-size: 20px;
        word-spacing: 2px;
    }
    .stateOf article .content h2{
        text-align: center;
    }
    .stateOf article{
        width: 100%;
    }
    .stateOf{
        margin-top: 200px;
        height: 600px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        background-position: center bottom;
    }
    .stateOf article img{
        width: 320px;
        height: 320px;
        left: 50%;
        top: -20%;
        transform: translate(-50%);
    }
    .view{
        display: block;
    }
    header{
        justify-content: space-between;
        position: relative;
    }
    .hamburger{
        display: block;
    }
    .heroSec header nav, .heroSec header nav .left, .heroSec header nav .right{
        flex-direction: column;
    }
    .heroSec header nav .left .list span{
        color: hsl(207, 13%, 34%);
    }
    .heroSec header nav.active{
        top: 100px;
    }
    .heroSec header nav{
        width: 80%;
        justify-content: space-between;
        padding: 20px;
        left: 50%;
        z-index: 2;
        height: 550px;
        border-radius: 10px;
        box-shadow: 20px 20px 100px;
        transform: translate(-50%);
        position: absolute;
        transition: all 300ms;
        top: -1000px;
        background-color: white;
    }
    .designFor .gridView{
        height: fit-content;
    }
    .heroSec header nav .left .list{
        height: 30%;
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: static;
        font-size: 30px;
    }
    .heroSec header nav .left .list img{
        height: 10px;
        width: 20px;
    }
    .heroSec header nav .right{
        border-top: 1px solid gray;
        gap: 5px;
        justify-content: flex-end;
    }
    .heroSec header nav .left, .heroSec header nav .right{
        width: 100%;
        height: fit-content;
        align-items: center;
    }
    .heroSec header nav .left{
        height: 200px;
    }
    
    .heroSec header nav .right{
        height: fit-content;
    }
    .btn{
        margin-top: 10px;
    }
    .heroSec header nav .left .list .content {
        position: absolute;
        width: 100%;
        background-color: #dcdcdc52;
        left: 50%;
        height: 150px;
        top: 50%;
        transform: translate(-50%, 0);
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        box-shadow: 0 0 0 0;
    }
    .hover{
        background-color: white;
        color:  hsl(13, 100%, 72%);
        padding: 15px 20px;
    }
    .large {
        font-size: 30px;
    }
    .heroSec{
        border-radius: 0 0 0 100px;
    }
    .heroSec .hero{
        border-radius: 0 0 0 100px;
        background-image: url('/images/bg-pattern-intro-mobile.svg');
        background-position: center center;
    }
    .designFor h1{
        margin: 0;
    }
    .designFor .gridView article{
        max-width: 100%;
    }
    .designFor .gridView img{
        position: static;
        margin-top: 50px;
        height: 300px;
        transform: translate(0,0);
    }
    .designFor .gridView.left img{
        margin: 0;
    }
    .designFor .gridView.left{
        margin: 0 auto;
        flex-direction: column;
    }
    .designFor .gridView{
        text-align: center;
        flex-direction: column-reverse;
    }
    .designFor{
        margin: 100px 0;
    }
    footer .ImgAndThings{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer .ImgAndThings img{
        margin: 50px 0;
    }
    footer .ImgAndThings nav{
        margin-top: 50px;
    }
    .border{
        color: white;
    }
    footer{
        border-top-right-radius: 100px;
    }
    img.view{
        display: none;
    }
}